jcw-env/*
.env
venv

__pycache__/
*.py[cod]

*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/__pycache__/
*/migrations/*.py[co]

node_modules/

db.sqlite3

.DS_Store
JuanClickWonders/media/product_images/1.png
JuanClickWonders/media/product_images/2.png
JuanClickWonders/media/product_images/3.png
JuanClickWonders/media/product_images/4.png
JuanClickWonders/media/product_images/5.png
JuanClickWonders/media/product_images/6.png
JuanClickWonders/media/product_images/7.png
JuanClickWonders/media/product_images/8.png
JuanClickWonders/media/product_images/9.png
JuanClickWonders/media/product_images/10.png
JuanClickWonders/media/product_images/11.png
JuanClickWonders/media/product_images/12.png
JuanClickWonders/media/product_images/13.png
JuanClickWonders/media/product_images/14.png
JuanClickWonders/media/product_images/15.png
JuanClickWonders/media/product_images/16.png
JuanClickWonders/media/product_images/17.png
JuanClickWonders/media/product_images/18.png
JuanClickWonders/media/product_images/19.png
JuanClickWonders/media/product_images/20.png
JuanClickWonders/media/product_images/21.png
JuanClickWonders/media/product_images/22.png
JuanClickWonders/media/product_images/23.png
JuanClickWonders/media/product_images/24.png
JuanClickWonders/media/product_images/25.png
JuanClickWonders/media/product_images/26.png
JuanClickWonders/media/product_images/27.png
JuanClickWonders/media/product_images/28.png
JuanClickWonders/media/product_images/29.png
JuanClickWonders/media/product_images/30.png
JuanClickWonders/media/product_images/31.png
JuanClickWonders/media/product_images/32.png
JuanClickWonders/media/product_images/33.png
JuanClickWonders/media/product_images/34.png
JuanClickWonders/media/product_images/35.png
JuanClickWonders/media/product_images/36.png
JuanClickWonders/media/product_images/37.png
JuanClickWonders/media/product_images/38.png
JuanClickWonders/media/product_images/39.png
JuanClickWonders/media/product_images/40.png
JuanClickWonders/media/product_images/41.png
JuanClickWonders/media/product_images/42.png
JuanClickWonders/media/product_images/43.png
JuanClickWonders/media/product_images/44.png
JuanClickWonders/media/product_images/45.png
JuanClickWonders/media/product_images/46.png
JuanClickWonders/media/product_images/47.png
JuanClickWonders/media/product_images/48.png
JuanClickWonders/media/product_images/49.png
JuanClickWonders/media/product_images/50.png
JuanClickWonders/media/product_images/51.png
JuanClickWonders/media/product_images/52.png
JuanClickWonders/media/product_images/53.png
JuanClickWonders/media/product_images/54.png
JuanClickWonders/media/product_images/55.png
JuanClickWonders/media/product_images/56.png
JuanClickWonders/media/product_images/57.png
JuanClickWonders/media/product_images/58.png
JuanClickWonders/media/product_images/59.png
JuanClickWonders/media/product_images/60.png
JuanClickWonders/media/product_images/61.png
JuanClickWonders/media/product_images/62.png
JuanClickWonders/media/product_images/63.png
JuanClickWonders/media/product_images/64.png
JuanClickWonders/media/product_images/65.png
JuanClickWonders/media/product_images/66.png
JuanClickWonders/media/product_images/67.png
JuanClickWonders/media/product_images/68.png
JuanClickWonders/media/product_images/69.png
JuanClickWonders/media/product_images/70.png
JuanClickWonders/media/product_images/71.png
JuanClickWonders/media/product_images/72.png
JuanClickWonders/media/product_images/73.png
JuanClickWonders/media/product_images/74.png
JuanClickWonders/media/product_images/75.png
JuanClickWonders/media/product_images/76.png
JuanClickWonders/media/product_images/77.png
JuanClickWonders/media/product_images/78.png
JuanClickWonders/media/product_images/79.png
JuanClickWonders/media/product_images/80.png
JuanClickWonders/media/product_images/81.png
JuanClickWonders/media/product_images/82.png
JuanClickWonders/media/product_images/83.png
JuanClickWonders/media/product_images/84.png
JuanClickWonders/media/product_images/85.png
JuanClickWonders/media/product_images/86.png
JuanClickWonders/media/product_images/87.png
JuanClickWonders/media/product_images/88.png
JuanClickWonders/media/product_images/89.png
JuanClickWonders/media/product_images/90.png
JuanClickWonders/media/product_images/91.png
JuanClickWonders/media/product_images/92.png
JuanClickWonders/media/product_images/93.png
JuanClickWonders/media/product_images/94.png
JuanClickWonders/media/product_images/95.png
JuanClickWonders/media/product_images/96.png
JuanClickWonders/media/product_images/97.png
JuanClickWonders/media/product_images/98.png
JuanClickWonders/media/product_images/99.png
JuanClickWonders/media/product_images/100.png
JuanClickWonders-Frontend/.editorconfig
JuanClickWonders-Frontend/.gitattributes
JuanClickWonders-Frontend/.gitignore
JuanClickWonders-Frontend/index.html
JuanClickWonders-Frontend/jsconfig.json
JuanClickWonders-Frontend/package-lock.json
JuanClickWonders-Frontend/package.json
JuanClickWonders-Frontend/README.md
JuanClickWonders-Frontend/vite.config.js
JuanClickWonders-Frontend/.vite/deps/_metadata.json
JuanClickWonders-Frontend/.vite/deps/axios.js
JuanClickWonders-Frontend/.vite/deps/axios.js.map
JuanClickWonders-Frontend/.vite/deps/chunk-IJV5NOMV.js
JuanClickWonders-Frontend/.vite/deps/chunk-IJV5NOMV.js.map
JuanClickWonders-Frontend/.vite/deps/chunk-PZ5AY32C.js
JuanClickWonders-Frontend/.vite/deps/chunk-PZ5AY32C.js.map
JuanClickWonders-Frontend/.vite/deps/package.json
JuanClickWonders-Frontend/.vite/deps/vue-router.js
JuanClickWonders-Frontend/.vite/deps/vue-router.js.map
JuanClickWonders-Frontend/.vite/deps/vue.js
JuanClickWonders-Frontend/.vite/deps/vue.js.map
JuanClickWonders-Frontend/public/favicon.ico
JuanClickWonders-Frontend/public/gpu.png
JuanClickWonders-Frontend/public/icon.png
JuanClickWonders-Frontend/src/App.vue
JuanClickWonders-Frontend/src/main.js
JuanClickWonders-Frontend/src/assets/base.css
JuanClickWonders-Frontend/src/assets/logo.svg
JuanClickWonders-Frontend/src/assets/main.css
JuanClickWonders-Frontend/src/components/HelloWorld.vue
JuanClickWonders-Frontend/src/components/NavBar.vue
JuanClickWonders-Frontend/src/components/TheWelcome.vue
JuanClickWonders-Frontend/src/components/WelcomeItem.vue
JuanClickWonders-Frontend/src/components/icons/IconCommunity.vue
JuanClickWonders-Frontend/src/components/icons/IconDocumentation.vue
JuanClickWonders-Frontend/src/components/icons/IconEcosystem.vue
JuanClickWonders-Frontend/src/components/icons/IconSupport.vue
JuanClickWonders-Frontend/src/components/icons/IconTooling.vue
JuanClickWonders-Frontend/src/router/index.js
JuanClickWonders-Frontend/src/views/AboutView.vue
JuanClickWonders-Frontend/src/views/Homepage.vue
JuanClickWonders-Frontend/src/views/HomeView.vue
JuanClickWonders-Frontend/src/views/ProductDetail.vue
JuanClickWonders-Frontend/src/views/ProductList.vue
